{%- assign fixed_aspect_ratio = false -%}
{% unless image_size == 'natural' %}
	{%- assign fixed_aspect_ratio = true -%}
{% endunless %}
<div class="col-12 col-sm-4 grid-article-blog mb-4 mb-lg-0">
	<div class="row">
		<div class="col-12 content-image">
			{%- if article.image -%}
				<a href="{{ article.url }}" class="article__grid-image" aria-label="{{ article.title | escape }}">
					{%- assign img_url = article.image | img_url: 'master'-%}
					<img class="lazyload"
					     data-src="{{ img_url }}"
					     alt="{{ article.image.alt | escape }}">
				</a>
			{%- endif -%}
		</div>
		<div class="col-12 content-title">
			<a href="{{ article.url }}" class="article__title">{{ article.title }}</a>
		</div>
		<div class="col-12 date-and-author text-uppercase">
       {{ article.published_at | date: format: 'date' }} | <a href="{{ article.url }}" class="text-uppercase">Leer artículo</a>
		</div>
	</div>
</div>
