<link rel="stylesheet" href="{{ 'section-bloque-text-info.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-bloque-text-info.css' | asset_url | stylesheet_tag }}</noscript>

<div class="container-fluid">
	<div class="row content-global justify-content-center">
		<div class="col-11 col-lg-8">
			{% if section.settings.title != blank %}
				<div class="content-title-section text-center">
					{{ section.settings.title }}
				</div>
			{% endif %}
			<div class="row">
				{% for block in section.blocks %}
					<div class="content-block-description col-12 col-sm-6 text-center">
						{% if block.settings.title != blank %}
							<div class="content-title-block">
								{{ block.settings.title }}
							</div>
						{% endif %}
						{% if block.settings.description != blank %}
							<div class="content-description-block mx-auto">
								{{ block.settings.description }}
							</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

</div>
{% schema %}
{
  "name": "Bloque textos informaci贸n",
  "class": "section-content-description-parallax section-bloque-text-info",
  "settings": [
	  {
		  "type": "header",
		  "content": "==== Titulo ===="
    },
    {
      "type": "text",
      "id": "title",
      "label": "Titulo"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Column",
      "settings": [
        {
          "type": "header",
          "content": "==== Titulo ===="
        },
        {
          "type": "text",
          "id": "title",
          "label": "Titulo"
        },
        {
          "type": "header",
          "content": "==== Descripci贸n ===="
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Descripci贸n"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bloque textos informaci贸n",
      "category": "Text",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ]
}
{% endschema %}
