{{ 'component-facets.css' | asset_url | stylesheet_tag }}
<link rel="preload" href="{{ 'grid-global-collection.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'grid-global-collection.css' | asset_url }}"></noscript>
{%- assign per_row = section.settings.per_row -%}
{%- assign paginate_by = per_row | times: section.settings.rows_per_page -%}
{% assign show_tags = "DRESSES,BLUSAS,CAMISAS,TOPS, BOTTOMS,OUTERWEAR" | split: "," %}
<style>
  .quick-view{
    display: none;
  }
</style>
{%- paginate collection.products by 8 -%}
<div class="container-fluid page-width">
	<div class="row justify-content-center content-products-grid-box-global">
    <div class="col-11 col-lg-12 content-title-collection-box text-center">
      {{ collection.title }}
    </div>
    <div class="col-11 col-lg-12 content-submenu-options-collections">
        <ul class="d-flex list-unstyled justify-content-lg-center">
          <li>
            <a href="{{ collection.url }}" class="active">
              Ver todo
            </a>
          </li>
          {% for tag in collection.all_tags %}
            {% unless show_tags contains tag %}
              {% continue %}
            {% endunless %} {% if current_tags contains tag %}
            <li>
              <a href="{{ collection.url }}/{{ tag }}" class="active">
                {{ tag }}
              </a>
            </li>
          {% else %}
            <li>
              <a href="{{ collection.url }}/{{ tag }}">
                {{ tag }}
              </a>
            </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    <div class="col-11 col-lg-12 content-global-grid-products">
      <div class="row products-on-page" data-next-url="{{paginate.next.url}}">
        {%- for product in collection.products -%}
          {%- render 'product-grid-item-new', product: product -%}
        {%- else -%}
          <div class="grid__item">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>
        {%- endfor -%}
      </div>
    </div>
    {% if collection.products_count > 8 %}
      <div class="load-more">
        <a class="load-more_btn" onclick="loadMoreProducts()">Ver más</a>
        <div class="load-more_spinner"></div>
      </div>
      {% else %}
    {% endif %}
	</div>
</div>
  {%- if settings.quick_shop_enable -%}
    {%- for product in collection.products -%}
      {%- if product.available -%}
        {%- render 'quick-shop-modal', product: product -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

{%- endpaginate -%}

{% schema %}
  {
    "name": "Collection pages",
    "class": "grid-global-collection section-content-description-parallax",
    "settings": [

    ]
  }
{% endschema %}
