<div class="block-section"  style="{{ section.settings.custom_space }};background-image:url({{section.settings.image_section | img_url: 'master'}});" >
	<div class="container-fluid">
		<div class="block_content row justify-content-center">
			<div class="col-12 col-lg-10">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-12 col-sm-6 col-lg-4 content-images image-medium-content mb-4 mb-lg-0">
								{% if section.settings.image_medium != blank %}
									{{ section.settings.image_medium | img_url: 'master' | img_tag: 'feature-row__image', 'img-responsive' }}
								{% else %}
									{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
								{% endif %}
								{% if section.settings.button_label_medium != blank and section.settings.button_link_medium != blank %}
									<p>
										<a href="{{ section.settings.button_link_medium }}" class="link-instagram" target="_blank">
											{{ section.settings.button_label_medium }}
										</a>
									</p>
								{% endif %}
							</div>
							<div class="col-12 col-sm-6 col-lg-3 content-images image-small-content mb-4 mb-lg-0">
								{% if section.settings.image != blank %}
									{{ section.settings.image | img_url: 'master' | img_tag: 'feature-row__image', 'img-responsive' }}
								{% else %}
									{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
								{% endif %}
								{% if section.settings.button_label != blank and section.settings.button_link != blank %}
									<p>
										<a href="{{ section.settings.button_link }}" class="link-instagram" target="_blank">
											{{ section.settings.button_label }}
										</a>
									</p>
								{% endif %}
							</div>
							<div class="col-12  col-lg-5  mb-4 mb-lg-0">
								<div class="row">
									<div class="col-12 col-sm-6 col-lg-12 mt-auto mb-4 mb-lg-0">
										{% if section.settings.text != blank %}
											<div class="text-description">
												{{ section.settings.text }}
											</div>
										{% endif %}
									</div>
									<div class="col-12 col-sm-6 col-lg-12 content-image-large">
										<div class="row">
											<div class="col-12 content-images">
												{% if section.settings.image_large != blank %}
													{{ section.settings.image_large | img_url: 'master' | img_tag: 'feature-row__image', 'img-responsive' }}
												{% else %}
													{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
												{% endif %}
												{% if section.settings.button_label_large != blank and section.settings.button_link != blank_large %}
													<p>
														<a href="{{ section.settings.button_link_large }}" class="link-instagram" target="_blank">
															{{ section.settings.button_label_large }}
														</a>
													</p>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row box-image-content-end">
					<div class="col-12 col-sm-6 col-lg-7">
						<div class="row justify-content-end">
							<div class="col-12 col-lg-8">
								<div class="content-images">
									{% if section.settings.image_end != blank %}
										{{ section.settings.image_end | img_url: 'master' | img_tag: 'feature-row__image', 'img-responsive' }}
									{% else %}
										{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
									{% endif %}
									{% if section.settings.button_label_end != blank and section.settings.button_link != blank_end %}
										<p>
											<a href="{{ section.settings.button_link_end }}" class="link-instagram" target="_blank">
												{{ section.settings.button_label_end }}
											</a>
										</p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6  col-lg-5 mt-auto mb-5 content-box-end">
						{% if section.settings.text_end != blank %}
							<div class="text-description">
								{{ section.settings.text_end }}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="image-absolute image-position-left">
				{% if section.settings.image_absolute_left != blank %}
					{{ section.settings.image_absolute_left | img_url: 'master' | img_tag: 'feature-row__image', 'img-responsive' }}
				{% else %}
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% schema %}
{
"name": "Section images",
"class": "pride-images-description-2",
"settings": [
{
"type": "textarea",
"id": "custom_space",
"label": "Css Style Section",
"default":"padding-top:100px;padding-bottom:100px"
},
{
"type":      "radio",
"id":        "set_box",
"label":     "Set Layout Section",
"options": [
{ "value": "box-container", "label": "Box Container" },
{ "value": "box-full", "label": "Box Full" },
{ "value": "none", "label": "None" }
],
"default":   "box-full",
"info":      "Set Layout Section"
},
{
"type": "image_picker",
"id": "image_section",
"label": "Image"
},

{
"type": "richtext",
"id": "text",
"label": "Text",
"default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
},
{
"type": "image_picker",
"id": "image_absolute_right",
"label": "Image"
},
{
"type": "image_picker",
"id": "image_absolute_left",
"label": "Image"
},
{
"type": "image_picker",
"id": "image_medium",
"label": "Image"
},
{
"type": "text",
"id": "button_label_medium",
"label": "Name"
},
{
"type": "url",
"id": "button_link_medium",
"label": "Instagram link"
},
{

"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "text",
"id": "button_label",
"label": "Name"
},
{
"type": "url",
"id": "button_link",
"label": "Instagram link"
},

{
"type": "image_picker",
"id": "image_large",
"label": "Image"
},
{
"type": "text",
"id": "button_label_large",
"label": "Name"
},
{
"type": "url",
"id": "button_link_large",
"label": "Instagram link"
},
{
"type": "image_picker",
"id": "image_end",
"label": "Image"
},
{
"type": "text",
"id": "button_label_end",
"label": "Name"
},
{
"type": "url",
"id": "button_link_end",
"label": "Instagram link"
},
{
"type": "richtext",
"id": "text_end",
"label": "Text",
"default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
},

{
"type": "select",
"id": "align_text",
"label": "Text alignment",
"default": "left",
"options": [
{
"value": "left",
"label": "Left"
},
{
"value": "center",
"label": "Centered"
}
]
}
],

"presets": [
{
"name": "Section images",
"category": "Text"
}
]
}
{% endschema %}
