<div class="container-fluid">
	<div class="row  justify-content-center section-content" style="background: {{ section.settings.bg_color_cap }};">
		<div class="col-11">
			<div class="row">
				<div class="col-12 text-center">
					{% if section.settings.heading != blank %}
						<p class="heading text-uppercase">
							{{ section.settings.heading }}
						</p>
					{% endif %}
					{% if section.settings.title != blank %}
						<p class="title text-uppercase">
							{{ section.settings.title }}
						</p>
					{% endif %}
					{% if section.settings.description != blank %}
						<div class="description-header">
							{{ section.settings.description }}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-12 second-grid-products">
					<div class="row">
						{%- for block in section.blocks -%}
							{% if block.settings.product_2_cap_1 != blank %}
								<div class="col-12 col-sm-6 col-lg-6 content-image p-0">
									<div class="row m-0">
										<div class="col-12 p-0 content-box-image">
											<img class="img-fluid lazyload"
											     data-src="{{ block.settings.product_2_cap_1 | img_url:"master" }}"
											     data-widths="[180, 360, 540, 720, 900, 1080]"
											     data-aspectratio="{{ preview_image.aspect_ratio }}"
											     data-sizes="auto"
											     alt="{{ preview_image.alt | escape }}">
										</div>
										<div class="col-12 content-box-btn">
											{% if block.settings.btn_url_cap_1 != blank %}
												<p class="content-button text-center text-sm-end">
													<a href="{{ block.settings.btn_url_cap_1 }}" class="btn p-0">
									<span>
										{{ block.settings.btn_label_cap_1 }}
									</span>
													</a>
												</p>
											{% endif %}
										</div>
									</div>
								</div>
							{% endif %}
						{%- endfor -%}
					</div>
				</div>
		<div class="col-11 col-lg-10">
			<div class="row">
				<div class="col-12">
					<div class="row">
						{% if section.settings.image_infografia != blank %}
							<div class="col-12 col-sm-7 col-md-7 col-lg-8 p-0 content-infografia section-infografia-img">
								<img class="img-fluid lazyload d-none d-lg-block me-auto"
								     data-src="{{ section.settings.image_infografia | img_url:"master" }}"
								     alt="{{ preview_image.alt | escape }}">
								<img class="img-fluid lazyload d-block d-lg-none me-auto"
								     data-src="{{ section.settings.image_infografia_mobile | img_url:"master" }}"
								     alt="{{ preview_image.alt | escape }}">
								{% if section.settings.description != blank %}
									<p class="description me-auto ms-0">
									{{ section.settings.description_infografia }}
									</p>
								{% endif %}
							</div>
						{% endif %}
						{% if section.settings.image_product != blank %}
							<div class="col-12 col-sm-5 col-md-5 col-lg-4 content-image-product-alone">
								<img class="img-fluid lazyload"
								     data-src="{{ section.settings.image_product | img_url:"master" }}"
								     data-widths="[180, 360, 540, 720, 900, 1080]"
								     data-aspectratio="{{ preview_image.aspect_ratio }}"
								     data-sizes="auto"
								     alt="{{ preview_image.alt | escape }}">
								{% if section.settings.btn_url != blank %}
									<p class="content-button text-center text-sm-end">
										<a href="{{ section.settings.btn_url }}" class="btn p-0">
										<span>
											{{ section.settings.btn_label }}
										</span>
										</a>
									</p>
								{% endif %}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% schema %}
{
"name": "Rezos capitulo 3",
"class": "section-content-description-parallax section-rezos-capitulo section-rezos-capitulo-3",
"max_blocks": 2,
"settings": [
{
"type": "header",
"content": "==== Background section ===="
},
{
"type": "color",
"id": "bg_color_cap",
"label": "Background",
"default": "#FFF"
},
{
"type": "header",
"content": "==== Titulo y Descripción principal ===="
},
{
"type": "text",
"id": "heading",
"label": "Titulo sección"
},
{
"type": "text",
"id": "title",
"label": "Titulo"
},
{
"type": "richtext",
"id": "description",
"label": "Descripción"
},
{
"type": "header",
"content": "==== Imagenes producto ===="
},
{
"type": "image_picker",
"id": "image_product",
"label": "1° producto"
},
{
"type": "text",
"id": "btn_label",
"label": "Texto Botón"
},
{
"type": "url",
"id": "btn_url",
"label": "Botón Url"
},
{
"type": "header",
"content": "==== Imagen infografía ===="
},
{
"type": "image_picker",
"id": "image_infografia",
"label": "Imagen"
},
{
"type": "image_picker",
"id": "image_infografia_mobile",
"label": "Imagen Mobile"
},
{
"type": "text",
"id": "description_infografia",
"label": "Descripción"
}
],
"blocks": [
{
"type": "text_block",
"name": "Column",
"settings": [
{
"type": "header",
"content": "==== Imagenes producto ===="
},
{
"type": "image_picker",
"id": "product_2_cap_1",
"label": "Imagen"
},
{
"type": "text",
"id": "btn_label_cap_1",
"label": "Texto Botón"
},
{
"type": "url",
"id": "btn_url_cap_1",
"label": "Botón Url"
}
]
}
],
"presets": [
{
"name": "Rezos capitulo 3",
"category": "Text",
"blocks": [
{
"type": "text_block"
},
{
"type": "text_block"
}
]
}
]
}
{% endschema %}
