<div class="container-fluid">
	<div class="row section-content" style="background: url({{ section.settings.bg_section | img_url:"master" }});">
		<div class="col-12 text-center">
			{% if section.settings.text != blank %}
				<div class="rte-settings">
				{{ section.settings.text }}
				</div>
			{% endif %}
			{% if section.settings.title != blank %}
				<p class="title">
					{{ section.settings.title }}
				</p>
			{% endif %}
			{% if section.settings.btn_url != blank %}
				<p class="content-button">
					<a href="{{ section.settings.btn_url }}" class="btn">
						<span>{{ section.settings.btn_label }}</span>
					</a>
				</p>
			{% endif %}
		</div>
	</div>
</div>
{% schema %}
{
"name": "Rezos texto boton",
"class": "section-content-description-parallax section-rezos-texto-boton",
"settings": [
{
"type": "header",
"content": "==== Background section ===="
},
{
"type": "image_picker",
"id": "bg_section",
"label": "Background Image"
},
{
"type": "header",
"content": "==== Descripción ===="
},
{
"type": "richtext",
"id": "text",
"label": "Descripción",
"default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
},
{
"type": "text",
"id": "title",
"label": "Titulo"
},
{
"type": "header",
"content": "==== Botón ===="
},
{
"type": "text",
"id": "btn_label",
"label": "Texto Botón"
},
{
"type": "url",
"id": "btn_url",
"label": "Botón Url"
}
],

"presets": [
{
"name": "Rezos texto boton",
"category": "Text"
}
]
}
{% endschema %}
