<div class="container-fluid">
	<div class="row content-image-gallery">
		<div class="col-12">
			<ul class="content-list-image">
				{% for block in section.blocks %}
					<li class="content-img {{block.settings.size_img }}">
						{% if block.settings.enable_image %}
							{% if block.settings.image != blank %}
								<img class="img-fluid w-100 lazyload"
								     data-src="{{ block.settings.image | img_url: 'master' }}"
								     data-widths="[180, 360, 540, 720, 900, 1080]"
								     data-aspectratio="{{ preview_image.aspect_ratio }}"
								     data-sizes="auto"
								     alt="{{ preview_image.alt | escape }}">
							{% endif %}
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	
	</div>
	{% if section.settings.description != blank %}
		<div class="row content-description">
			<div class="col-12 text-center">
				<div class="description">
					{{section.settings.description}}
				</div>
			</div>
		</div>
	{% endif %}
</div>
{% schema %}
{
"name": "Seccion list gallery",
"class":"section-content-description-parallax seccion-list-gallery",
"max_blocks": 3,
"settings": [
{
"type":"header",
"content":"==== Descripcion ===="
},
{
"type": "richtext",
"id": "description",
"label": "Descripción"
}

],
"blocks": [
{
"type": "text_block",
"name": "Column",
"settings": [
{
"type": "checkbox",
"id": "enable_image",
"label": "Show image",
"default": true
},
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "select",
"id": "size_img",
"label": "Tamaño imagen",
"default": "small_image",
"options": [
{
"label": "Imagen grande",
"value": "big_image"
},
{
"label": "Imagen pequeña",
"value": "small_image"
}
]
}
]
}
],
"presets": [
{
"name": "Seccion list gallery",
"category": "Image",
"blocks": [
{
"type": "text_block"
},
{
"type": "text_block"
},
{
"type": "text_block"
}
]
}
]
}
{% endschema %}
